.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.help-block {
  color: #f44336;
}

.button-row {
  text-align: end;
}

.radio-button {
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  margin-right: 8px;
}

.button-color {
  background-color: #009688;
  color: white;
  margin-right: 16px;
}